<!DOCTYPE html>
<html lang="zn">

<head>
    <title>联系我们</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type="text/javascript" src="/static/js/peu7wgp.js"></script>
    <link href="/static/css/d.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/yxjxiaologo.png">
    <!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="/static/css/ie.css" /><script src="/static/js/html5.js"></script><![endif]-->
    <script src="/static/js/dc.js" async="" type="text/javascript"></script>
</head>

<body>
    <div class="outer-wrap">
        <div class="page-wrap">
        {% include "include/header.html" %}
            <!--小导航start-->
            <nav class="breadcrumbs clearfix">
                <div class="breadcrumbs-inner">
                    <a title="Home" href="/yaxiuji" class="item">首页</a>
                    <span class="separator"></span>
                    <span class="current">联系我们</span>
                 </div>
            </nav><!--小导航end-->
            <div class="content-wrap clearfix">
            <!-- 内容左边区域 start -->
                <div class="third-content">
                <!-- 左上区域-如何找到我们 start-->
                    <section class="contact-details clearfix">
                        <h1 class="block-title">如何找到我们</h1>
                        <div class="half-area">
                            <h2>办公时间</h2>
                            <p>
                                <span style="line-height: 1.6em;">周一至周五9:00-17:00</span>
                            </p>
                            <h2>联系方式</h2>
                            <p>电话：0731-84712828</p>
                            <p>邮箱：2485138730@qq.com</p>
                        </div>
                        <div class="half-area">
                            <h2>公司地址</h2>
                            <p>湖南省长沙市芙蓉区马王堆中路东玺门M2栋2单元1408</p>
                            <p><a href="http://map.baidu.com/?newmap=1&shareurl=1&l=19&tn=B_NORMAL_MAP&c=12582903,3253830&cc=&i=-1%7C-1|-1&s=s%26da_src%3Dpcmappg.searchBox.button%26wd%3D%E4%B8%9C%E7%8E%BA%E9%97%A8%26c%3D158%26src%3D0%26wd2%3D%26sug%3D0%26l%3D19%26from%3Dwebmap&sc=0" class="google-link" target="_blank" title="百度地图上查看公司地址">查看百度地图</a>
                            </p>
                            <h2>店面地址</h2>
                            <p>湖南省长沙市天心区芙蓉南路1号新芙蓉家居广场2楼雅绣集
                                <br>
                                <p><a href="http://j.map.baidu.com/fV6Zq" class="google-link" target="_blank" title="百度地图上查看门面地址">查看百度地图</a>
                                </p>
                        </div>
                    </section>
                    <!-- 左上区域-如何找到我们 end -->
                    <!-- 左下区域-给我们留言 start -->
                    <section class="contact-form clearfix">
                        <h1 class="block-title">给我们留言</h1>

                        <form action="/message/" class="contact-form" enctype="multipart/form-data" method="post" accept-charset="utf-8">
                            
                            <!-- <input name="d0ntf1llth1s1n" value=" " class="default-form" style="display:none" type="text"> -->

                            <div class="form-row clearfix">
                                <label for="contact_name">您的姓名
                                    <span class="required">*</span>
                                </label>
                                <input name="name" id="contact_name"  type="text">
                            </div>
                            <div class="form-row clearfix">
                                <label for="contact_email">您的邮箱
                                    <span class="required">*</span>
                                </label>
                                <input name="email" id="contact_email" class="email" type="text">
                            </div>
                            <div class="form-row clearfix">
                                <label for="contact_phonenumber">电话号码</label>
                                <input name="telephone" id="contact_telephone" class="telephone" type="text">
                            </div>
                            <div class="form-row clearfix">
                                <label for="contact_message">留言
                                    <span class="required">*</span>
                                </label>
                                <textarea name="message" cols="40" rows="10" id="contact_message" class="message"></textarea>
                            </div>
                            <span class="contact-button">
                                <input name="contact-submit" id="submit" value="提交" type="submit">
                            </span>
                        </form>
                    </section>

                    <!-- 左下区域-给我们留言 end -->
                </div>
                <!-- 内容左边区域 end -->
                <!-- 内容右边区域-关注我们 start-->
                <aside class="sidebar">
                    <section class="connect-with sidebar-widget">
                        <h3 class="block-title">关注我们</h3>
                        <a href="/static/img/QQ.jpg" title="添加我们的QQ" target="_blank" class="button-link line-button social QQ" rel="prettyPhoto">
                            <span></span>QQ</a>
                        <a href="/static/img/yaxiuji.png" title="关注我们的微信" target="_blank" class="button-link line-button social weixin" rel="prettyPhoto">
                            <span></span>微信</a>
                        <a href="http://yaxiuji.taobao.com/" class="button-link line-button" target="_blank">现在购物</a>
                    </section>
                </aside>
                <!-- 内容右边区域-关注我们 end -->
            </div>
        {% include "include/footer.html" %}
        </div>
    </div>
    <script src="/static/js/ef61bd9bea3a5b36856514ee3bad4cfe.js"></script>
    <script src="/static/js/8dce417362a24f2d93aea20e91a1140b.js"></script>
    <script>
    $(document).ready(function() {
        apPrettyCheckbox();
    });
    $(document).ready(function() {
        sbPyroCampaignMonitorSubscribeUser('#name', '#email', '#signup', '.contact-form');
    });
    </script>
    <script>
    $('document').ready(function() {
        sbOffCanvasSetup();
        apMobileNavigationSetups();
    });
    $('document').ready(function() {
        $("#submit").click(function(event) {
            var search_str = /^[\w\-\.]+@[\w\-\.]+(\.\w+)+$/;
            var email_val = $("#contact_email").val();
            if(search_str.test(email_val)){
              a=1;
            }else{
              alert("不是email");
              event.preventDefault();
            }
            /* Act on the event */
        });
            
    });
    //www.jbxue.com

    </script>
    <script>
    $(window).load(function() {
        apSetupAboutPage('footer.main-foot aside.subscribe');
        apSetupAboutPage('aside.sidebar');
    });
    </script>
    <!--[if IE 6]>
    <script type="text/javascript" src="/static/js/changeLogoInIE6.js"></script>
    <![endif]-->
</body>

</html>

