<!DOCTYPE html>
<html lang="zn">

<head>
    <title>雅绣集湘绣有限公司欢迎您</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="keywords" content="雅绣集,湘绣,湖南,特产">
    <meta name="robots" content="index,follow">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type="text/javascript" src="/static/js/peu7wgp.js"></script>
    <!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="css/ie.css" /><script src="js/html5.js"></script><![endif]-->
    <link href="/static/css/d.css" rel="stylesheet">
    <script src="/static/js/dc.js" async="" type="text/javascript"></script>
</head>

<body>
    <div class="outer-wrap">
        <div class="page-wrap">

        {% include "include/header.html" %}

            <div class="content-wrap">
            <!-- 图片滚动start -->
                <section style="" id="sbThumbnailGallery" class="image-slider clearfix">
                    <div style="opacity: 1;" class="image-gallery-images" id="sbThumbnailGalleryImages">
                        
                        {% for pic in pic_list %}
                        <figure class="center">
                            <img alt="" src="/media/{{pic.pic}}" height="668px" width="1140px">
                        </figure>
                        {% endfor %}
                        
                    </div>
                    <nav id="sbThumbnailGalleryNavigation" class="image-gallery-nav"> <a class="next-image" title="下一张" href="#">下一张</a>  <a class="prev-image" title="上一张" href="#">上一张</a>
                    </nav>
                </section>
                <!-- 图片滚动end -->
                <section class="spotlight clearfix">
                </section>
            </div>
    {% include "include/footer.html" %}
        </div>
    </div>
    <script src="/static/js/ef61bd9bea3a5b36856514ee3bad4cfe.js"></script>
    <script src="/static/js/68162df8d5624556f9d2fa3a2fa45003.js"></script>
    <script>
    $(document).ready(function() {
        sbThumbnailGallery('#sbThumbnailGallery');
        apCenterContent('section.featured-collections');
    });
    </script>
    <script>
    $('document').ready(function() {
        sbOffCanvasSetup();
        apMobileNavigationSetups();
    });
    </script>
    <script>
    $(window).load(function() {
        apSetupAboutPage('footer.main-foot aside.subscribe');
    });
    </script>
    <!--[if IE 6]>
    <script type="text/javascript" src="js/changeLogoInIE6.js"></script>
    <![endif]-->
</body>

</html>
