<!DOCTYPE html>
<html lang="zn">

<head>
    <title>作品分类</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/img/yxjxiaologo.png">

    <script type="text/javascript" src="/static/js/peu7wgp.js"></script>
    <!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="/static/css/ie.css" /><script src="/static/js/html5.js"></script><![endif]-->
    <link href="/static/css/d.css" rel="stylesheet">
    <script src="/static/js/dc.js" async="" type="text/javascript"></script>
</head>

<body>
    <div class="outer-wrap">
        <div class="page-wrap">
        {% include "include/header.html" %}
            <!--小导航start-->
            <nav class="breadcrumbs clearfix">
                <div class="breadcrumbs-inner">
                    <a title="Home" href="/yaxiuji" class="item">首页</a>
                    <span class="separator"></span> <a href="/products" class="item">作品赏析</a>
                </div>
            </nav><!--小导航end-->
            <div class="content-wrap">
            <!-- 小标题start -->
                <h1 class="line-through w-marg">
                    <span>作品分类</span>
                </h1>
                <!-- 小标题end -->
                <!-- 图片分类start -->
                <section class="shop-categories clearfix">
                    <div style="position: relative; height: 1785px;" class="shop-items">
                    <!-- 图片分类 块 start -->
                    {% for category in  productcategory_list%}
                        <article style="position: absolute; left: 0px; top: 0px;" class="shop-category hover-block item-1 {% cycle "odd" "even" %}">
                            <div class="inner-hover-block">
                                <a href="{% url "product_product_list" category.id %}" title="单面秀">
                                    <figure class="shop-category-image">
                                        <img alt="" src="/static/img/production4.jpg" height="800" width="800">
                                    </figure>
                                    <div class="hover-block-details">
                                        <h1>{{category.name}}</h1>
                                        <p style="" class="category-description"></p>
                                        <p style="">{{category.content}}</p>
                                        <p style=""></p>
                                        <p style="" class="products-link top-line">View Products</p>
                                    </div>
                                </a>
                            </div>
                        </article>
                    {% endfor %}

                    </div>
                </section>
                <!-- 图片分类end -->
            </div>
            
            {% include "include/footer.html" %}

        </div>
    </div>
    <!--[if lt IE 9]>
    <script src="/static/js/jquery-1.7.2.min.js"></script>
    <script src="/static/js/changeProductsClass.js"></script>
    <script src="/static/js/changeLeft.js"></script>
    <![endif]-->

    <!--[if IE 8]>
    <script>
    $(document).ready(function() {
        apCenterContent2('.content-wrap');
    });
    </script>
    <![endif]-->
    <script src="/static/js/ef61bd9bea3a5b36856514ee3bad4cfe.js"></script>
    <script src="/static/js/9d7456dbd854de352e3c58494f617419.js"></script>
    <script>
    $(document).ready(function() {
        apMasonrySetup('.shop-items', 'article.shop-category');
    });
    </script>
    <script>
    $(document).ready(function() {
        sbThumbnailGallery('#sbThumbnailGallery');
        apCenterContent('.content-wrap');
    });
    </script>
    <script>
    $('document').ready(function() {
        sbOffCanvasSetup();
        apMobileNavigationSetups();
    });
    </script>
    <script>
    $(window).load(function() {
        apSetupAboutPage('footer.main-foot aside.subscribe');
    });
    </script>
    <!--[if IE 6]>
    <script type="text/javascript" src="/static/js/changeLogoInIE6.js"></script>
    <script>
        $(window).load(function() {
        $(".shop-category-image img").each(function() {
                var maxwidth = 450;
                if ($(this).width() > maxwidth) {
                        $(this).width(maxwidth);
                }
        });
    });
    </script>
    <![endif]-->

</body>

</html>
